@import "config"

configuration {
  show-icons: false;
}

element-text {
  font: "JetBrains Mono Nerd Font 24";
}

element {
    orientation: vertical;
    padding: 0.1em;
    // border-color: lightblue /15%;
    border: 3px;
    // border-radius: 0.4em;
    background-image: linear-gradient(white/5%, white/20%);
    children: [element-text];
}
